.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio__item {
    background: transparent;
    padding: 1.2rem;
    border-radius: 1rem;
    border: 1px solid var(--color-bg-variant);
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 13rem;
  
}

.portfolio__item-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.view {
    margin-left: 45%;
    margin-top: 2rem;
    background: transparent !important;
    height: 3.5rem;
    width: 150px;
    font-size: 1rem;
    border-color: #e7900e !important;
    color: #e7900e !important;
}

/* media queries (medium screen) */
@media screen  and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem
    }
  }
  
  /* media queries (small screen) */
  @media screen  and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .view {
        margin-left: 26%;
        margin-top: 2rem;
        background: transparent !important;
        height: 3.5rem;
        width: 150px;
        font-size: 1rem;
        border-color: #e7900e !important;
        color: #e7900e !important;
    }

    
  }