.imp-welcomepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    margin: 0;
    
}
.imp-content {
    align-items: center;
    justify-content: center;
    text-align: center;
 
}
.imp-input {
    width: 80%;
  
  
    
}

.ant-input-search.ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 45px;
  
}
.ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 45px;
    width: 80px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

   
}


.ant-spin .ant-spin-dot-spin {
 color: #e3e3e3;
}







.game-container {
 margin: auto;
 position: absolute;
 top: 20%;
 background: linear-gradient(135deg, #2e3a4a, #1f2937);
 padding: 30px;
 border-radius: 15px;
 box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
 color: #fff;
 text-align: center;
 width: 500px;
 
}


.welcomepage {
    display: flex;
    justify-content: center;
    
    height: 100vh;
    background-size: cover;
    transition: all 2s ease;
    
  
}
.gamebox {
    width: 400px;
   
} 

.hh {
    font-size: 1rem;
}
  


.welcome {
    margin-top: 7%;
    width: 60%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
   
}

.smiley {
    font-size: 100px;
}
.display {
    overflow: scroll;
    max-width: 100%;
}

.extras {
    display: flex;
    gap: 10px;
    width: 90%;
    justify-content: center;
   
}
/*no purpose*/
.x {
    width: 40%;
    text-align: center;
    color: white;
    border-color: white;
    background-color: var(--color-primary);
}
.winput  {
  background-color: #e3e3e3;
  height: 1rem;
  color: rgb(0, 0, 0);
  font-family: monospace;
  border-color: transparent;
}

.ant {
    width: 40%;
    height: 3rem;
}




@media screen  and (max-width: 1024px) {


}
  
  /* media queries (small screen) */
  @media screen  and (max-width: 390px) {
    .welcome {
 
    width: 90%;
    margin: auto 0;
    height: fit-content;
    display: flex;
    padding: 20px;
    }

    .extras {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .x {
        width: 90%;
        text-align: center;
        color: white;
    }

    .hh {
        font-size: 1rem;
    }
    .gamebox {
        width: 90%;
    } 

    .hhh {
        font-size: 2.2rem;
    }
    
    
  }

  @media screen  and (max-width: 600px) {
    .welcome {
 
    width: 90%;
    margin: auto 0;
    height: fit-content;
    display: flex;
    padding: 20px;
    }

    .extras {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .x {
        width: 90%;
        text-align: center;
        color: white;
    }

    .hh {
        font-size: 1rem;
    }
    .gamebox {
        width: 95%;
    } 

    .ant {
        width: fit-content;
        height: 2.5rem;
    }





    .imp-welcomepage {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
        margin: 0px;
        line-height: 30px;
        gap: 10px;
        
        
    }
    .imp-content {
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
     
    }
    .imp-input {
        width: 90%;  
    }
    
    .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        height: 45px;
    }
 .ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        height: 45px;
    }
    .ant-input-group >.ant-input-affix-wrapper:not(:last-child) .ant-input {
        text-indent: .5rem;
        font-weight: 500;
        color: #1f2937;
    }
    
    
    
    
    

   
    
  } 
