.game-container {
 margin: auto;
 position: absolute;
 top: 20%;
 background: linear-gradient(135deg, #2e3a4a, #1f2937);
 padding: 30px;
 border-radius: 15px;
 box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
 color: #fff;
 text-align: center;
 width: 500px;
 
}


.welcomepage {
    display: flex;
    justify-content: center;
    background-image: url(../../src/assets/b.jpg);
    height: 100vh;
    background-size: cover;
    transition: all 2s ease;
    
  
}
.gamebox {
    width: 400px;
   
} 

.hh {
    font-size: 1rem;
}
  


.welcome {
    margin-top: 7%;
    width: 60%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: rgba(27, 25, 25, 0.2); 
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.smiley {
    font-size: 100px;
}
.display {
    overflow: scroll;
    max-width: 100%;
}

.extras {
    display: flex;
    gap: 10px;
    width: 90%;
    justify-content: center;
   
}
/*no purpose*/
.x {
    width: 40%;
    text-align: center;
    color: white;
    border-color: white;
    background-color: var(--color-primary);
}
.winput  {
  background-color: #e3e3e3;
  height: 1rem;
  color: rgb(0, 0, 0);
  font-family: monospace;
  border-color: transparent;
}

.ant {
    width: 40%;
    height: 3rem;
}




@media screen  and (max-width: 1024px) {


}
  
  /* media queries (small screen) */
  @media screen  and (max-width: 390px) {
    .welcome {
 
    width: 90%;
    margin: auto 0;
    height: fit-content;
    display: flex;
    padding: 20px;
    }

    .extras {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .x {
        width: 90%;
        text-align: center;
        color: white;
    }

    .hh {
        font-size: 1rem;
    }
    .gamebox {
        width: 90%;
    } 

    .hhh {
        font-size: 2.2rem;
    }
    
    
  }

  @media screen  and (max-width: 600px) {
    .welcome {
 
    width: 90%;
    margin: auto 0;
    height: fit-content;
    display: flex;
    padding: 20px;
    }

    .extras {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .x {
        width: 90%;
        text-align: center;
        color: white;
    }

    .hh {
        font-size: 1rem;
    }
    .gamebox {
        width: 95%;
    } 

    .ant {
        width: fit-content;
        height: 2.5rem;
    }

   
    
  } 
